@page

<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">About Us</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="/">Home</a></li>
                    <li><a href="javascript:Void(0);">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="about-us">
    <div class="container">
        <div class="flat-tabs flat-tabs-type2">
            <ul class="menu-tab border-corner d-flex justify-content-lg-between justify-content-center flex-lg-nowrap flex-wrap">
                <li class="active"> <a href="#Who-We-Are">Who We Are? </a></li>
                <li><a href="#Our-Commitment">Our Commitment</a></li>
                <li><a href="#Testimonial">Testimonial</a></li>
                <li><a href="#Partners">Partners</a></li>
            </ul>
            <div class="content-tab">
                <div class="content-inner">
                    <div class="who-we-are who-we-are-type3 who-we-are-style4" id="Who-We-Are">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="text-content">
                                    <h3 class="title title-big">Welcome to  <span class="cl-title">Byte Novators</span></h3>
                                    <p >
                                        Welcome to Byte Novators, your comprehensive IT solutions partner. We specialize in providing dedicated support agents available 24/7 to cater to your needs. From Google Business solutions to website development, social media handling, digital marketing, and beyond, we offer a wide range of services to help your business thrive in the digital landscape.

                                    </p>
                                    <p>
                                        At Byte Novators, we understand the importance of having reliable support at all times. Our dedicated support agents are trained professionals who are committed to solving your problems efficiently and effectively, no matter the time of day. Whether you need assistance with technical issues, website maintenance, or digital marketing strategies, our team is here to help you every step of the way.

                                    </p>
                                    <p>
                                        In addition to our dedicated support services, we also specialize in Google Business solutions, helping you optimize your online presence and reach your target audience effectively. From setting up and managing your Google My Business profile to optimizing your website for search engine visibility, we have the expertise to help you achieve your business goals.

                                    </p>
                                    <p>
                                        Furthermore, our team is experienced in website development, creating custom solutions tailored to your specific needs. Whether you're looking to launch a new website or revamp your existing one, we can help you create a professional and user-friendly online presence that showcases your brand effectively.

                                    </p>
                                    <p>
                                        When it comes to social media handling and digital marketing, we've got you covered. Our team of experts can help you develop and execute strategic social media campaigns that engage your audience and drive results. Additionally, we offer a wide range of digital marketing services, including SEO, PPC, email marketing, and more, to help you reach your target audience and grow your business online.

                                    </p>
                                    <p>
                                        At Byte Novators, we are committed to delivering exceptional service and results that exceed your expectations. Contact us today to learn more about how we can help your business succeed in the digital world
                                    </p>
                                </div>
                               
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="row">
                                        <div class="col-12 mg-b30">
                                            <img src="images/home1/04.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12 mg-smobi">
                                            <img src="images/home1/05.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <img src="images/home1/06.jpg" alt="images">
                                        </div>
                                    </div>
                                    <div class="btn-play-animation videobox">
                                        <a href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1" data-type="iframe" class="play-box s2 fancybox">
                                            <span class="fa fa-play" aria-hidden="true"></span>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="circle-border circle-border1 none-767"></div>
                                    <div class="circle-border circle-border2 none-767"></div>
                                    <div class="circle-border circle-border3 none-767"></div>
                                    <div class="circle-border circle-border4 none-767"></div>
                                </div>
                                <div class="row" id="Our-Commitment">
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Mission</h3>
                                            <p>
                                                Empowering business with cutting-edge technology solutions tailored to your needs. We are committed to delivering exceptional service and result that exceed your expectations.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Commitment</h3>
                                            <p>
                                                We work closely with our clients to understand their goals and challenges, ensuring that our solutions not only meet but exceed their expectations. We are committed to excellence, ensuring that every aspect of our work is of the highest quality. With  dedication to client satisfaction, we are your trusted partner in navigating the ever-evolving landscape of technology.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                    <div class="who-we-are who-we-are-style5">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="entry-image">
                                        <img src="images/home1/01.jpg" alt="images">
                                    </div>
                                    <div class="iconbox-award">
                                        <span class="icon-trophy"></span>
                                        <div class="spinning-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                                <div class="content">
                                    <blockquote>
                                        Coding Your Vision, Crafting Your Success – Let's Build Your Digital Future Together!
                                    </blockquote>
                                    <div class="title d-lg-flex align-items-center">
                                        Over<span> 6 </span>years experience
                                    </div>
                                    <p>
                                        We are more than just developers – we're innovators, creators, and problem solvers. With our expertise in software, and website development, we turn your concepts into cutting-edge solutions that drive results.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                </div>
            </div>
        </div>
    </div>
</div><!-- about-us -->
@* <div class="flat-team-members mg-team-members">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Our Experts</p>
            <h2 class="flat-title">Let's meet with our<br> team members</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/01.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-basketball"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Dong Yuhan</a></h3>
                        <p class="role">DESIGNER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/02.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-wordpress"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Quan Zheng</a></h3>
                        <p class="role">DEVELOPER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/03.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-basketball"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Peng Qigang</a></h3>
                        <p class="role">FOUNDER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/04.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-wordpress"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Dong Yuhan</a></h3>
                        <p class="role">QC. MANAGER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Empowering Innovation, Transforming Businesses,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">Send Your Queries, Let's Make Solutions Happen.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="/Contact-Us" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->
<div class="testimonial testimonial-style3" id="Testimonial">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Testimonial</p>
            <h2 class="flat-title">Real-world results from  <br> our <span class="cl-title">clients?</span></h2>
        </div>
        <div class="custom-nav-testimonial">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-3338c317-9079-4e27-97ec-926792785cc3" data-elfsight-app-lazy></div>
        </div>
    </div>
</div><!-- testimonial -->
<div class="partners partners-style2" id="Partners">
    <div class="container">
        <div class="banners-z">
            <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                <div class="owl-carousel">
                    <img src="~/images/partners/4.jpg" alt="Vensena Pharmaceuticals" title="Vensena Pharmaceuticals">
                    <img src="~/images/partners/2.png" alt="Infopark Computer Education" title="Infopark Computer Education">
                    <img src="~/images/partners/6.png" alt="Honor Tour And Travels" title="Honor Tour And Travels">
                    <img src="~/images/partners/1.png" style="width:40%" alt="Trek De Kashmir" title="Trek De Kashmir">
                    <img src="~/images/partners/5.png" style="width: 45%;" alt="Batloo Travel" title="Batloo Travels">
                    <img src="~/images/partners/3.jpg" alt="Smart Classes Home Tutions" title="Smart Classes Home Tutions">
                </div>
            </div>
        </div>
    </div>
</div>