@page

<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">About Us</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="about-us.html">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="about-us">
    <div class="container">
        <div class="flat-tabs flat-tabs-type2">
            <ul class="menu-tab border-corner d-flex justify-content-lg-between justify-content-center flex-lg-nowrap flex-wrap">
                <li class="active">Who We Are?</li>
                <li>Softo History</li>
                <li>Our Mission</li>
                <li>Our Vission</li>
            </ul>
            <div class="content-tab">
                <div class="content-inner">
                    <div class="who-we-are who-we-are-type3 who-we-are-style4">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="text-content">
                                    <h3 class="title title-big">We have over <span class="cl-title">35+</span><br> years experience.</h3>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Mission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Vission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="row">
                                        <div class="col-12 mg-b30">
                                            <img src="images/home1/04.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12 mg-smobi">
                                            <img src="images/home1/05.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <img src="images/home1/06.jpg" alt="images">
                                        </div>
                                    </div>
                                    <div class="btn-play-animation videobox">
                                        <a href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1" data-type="iframe" class="play-box s2 fancybox">
                                            <span class="fa fa-play" aria-hidden="true"></span>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="circle-border circle-border1 none-767"></div>
                                    <div class="circle-border circle-border2 none-767"></div>
                                    <div class="circle-border circle-border3 none-767"></div>
                                    <div class="circle-border circle-border4 none-767"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                    <div class="who-we-are who-we-are-style5">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="entry-image">
                                        <img src="images/home1/01.jpg" alt="images">
                                    </div>
                                    <div class="iconbox-award">
                                        <span class="icon-trophy"></span>
                                        <div class="spinning-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                                <div class="content">
                                    <blockquote>
                                        Ut enim minim veniam quis nostrud exercitation ullamc and aliquip ex ea commodo consequat aute irure dolor innerem voluptate velit esse cillum.
                                    </blockquote>
                                    <div class="title d-lg-flex align-items-center">
                                        Over<span> 25 </span>years experience
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                </div>
                <div class="content-inner">
                    <div class="who-we-are who-we-are-type3 who-we-are-style4">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="text-content">
                                    <h3 class="title title-big">We have over <span class="cl-title">35+</span><br> years experience.</h3>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Mission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Vission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="row">
                                        <div class="col-12 mg-b30">
                                            <img src="images/home1/04.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12 mg-smobi">
                                            <img src="images/home1/05.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <img src="images/home1/06.jpg" alt="images">
                                        </div>
                                    </div>
                                    <div class="btn-play-animation videobox">
                                        <a href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1" data-type="iframe" class="play-box s2 fancybox">
                                            <span class="fa fa-play" aria-hidden="true"></span>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="circle-border circle-border1 none-767"></div>
                                    <div class="circle-border circle-border2 none-767"></div>
                                    <div class="circle-border circle-border3 none-767"></div>
                                    <div class="circle-border circle-border4 none-767"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                    <div class="who-we-are who-we-are-style5">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="entry-image">
                                        <img src="images/home1/01.jpg" alt="images">
                                    </div>
                                    <div class="iconbox-award">
                                        <span class="icon-trophy"></span>
                                        <div class="spinning-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                                <div class="content">
                                    <blockquote>
                                        Ut enim minim veniam quis nostrud exercitation ullamc and aliquip ex ea commodo consequat aute irure dolor innerem voluptate velit esse cillum.
                                    </blockquote>
                                    <div class="title d-lg-flex align-items-center">
                                        Over<span> 25 </span>years experience
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                </div>
                <div class="content-inner">
                    <div class="who-we-are who-we-are-type3 who-we-are-style4">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="text-content">
                                    <h3 class="title title-big">We have over <span class="cl-title">35+</span><br> years experience.</h3>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Mission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Vission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="row">
                                        <div class="col-12 mg-b30">
                                            <img src="images/home1/04.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12 mg-smobi">
                                            <img src="images/home1/05.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <img src="images/home1/06.jpg" alt="images">
                                        </div>
                                    </div>
                                    <div class="btn-play-animation videobox">
                                        <a href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1" data-type="iframe" class="play-box s2 fancybox">
                                            <span class="fa fa-play" aria-hidden="true"></span>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="circle-border circle-border1 none-767"></div>
                                    <div class="circle-border circle-border2 none-767"></div>
                                    <div class="circle-border circle-border3 none-767"></div>
                                    <div class="circle-border circle-border4 none-767"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                    <div class="who-we-are who-we-are-style5">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="entry-image">
                                        <img src="images/home1/01.jpg" alt="images">
                                    </div>
                                    <div class="iconbox-award">
                                        <span class="icon-trophy"></span>
                                        <div class="spinning-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                                <div class="content">
                                    <blockquote>
                                        Ut enim minim veniam quis nostrud exercitation ullamc and aliquip ex ea commodo consequat aute irure dolor innerem voluptate velit esse cillum.
                                    </blockquote>
                                    <div class="title d-lg-flex align-items-center">
                                        Over<span> 25 </span>years experience
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                </div>
                <div class="content-inner">
                    <div class="who-we-are who-we-are-type3 who-we-are-style4">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="text-content">
                                    <h3 class="title title-big">We have over <span class="cl-title">35+</span><br> years experience.</h3>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Mission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="text-content">
                                            <h3 class="title">Our Vission</h3>
                                            <p>
                                                Ut enim minim veniam quis nostrud exercitation ullamco laboris utaliqu commodo consequat. Duis aute iru fugiat nulla pariatur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="row">
                                        <div class="col-12 mg-b30">
                                            <img src="images/home1/04.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12 mg-smobi">
                                            <img src="images/home1/05.jpg" alt="images">
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <img src="images/home1/06.jpg" alt="images">
                                        </div>
                                    </div>
                                    <div class="btn-play-animation videobox">
                                        <a href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1" data-type="iframe" class="play-box s2 fancybox">
                                            <span class="fa fa-play" aria-hidden="true"></span>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="circle-border circle-border1 none-767"></div>
                                    <div class="circle-border circle-border2 none-767"></div>
                                    <div class="circle-border circle-border3 none-767"></div>
                                    <div class="circle-border circle-border4 none-767"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                    <div class="who-we-are who-we-are-style5">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-5 col-12">
                                <div class="featured-post position-relative">
                                    <div class="entry-image">
                                        <img src="images/home1/01.jpg" alt="images">
                                    </div>
                                    <div class="iconbox-award">
                                        <span class="icon-trophy"></span>
                                        <div class="spinning-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                                <div class="content">
                                    <blockquote>
                                        Ut enim minim veniam quis nostrud exercitation ullamc and aliquip ex ea commodo consequat aute irure dolor innerem voluptate velit esse cillum.
                                    </blockquote>
                                    <div class="title d-lg-flex align-items-center">
                                        Over<span> 25 </span>years experience
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- who-we-are -->
                </div>
            </div>
        </div>
    </div>
</div><!-- about-us -->
<div class="flat-team-members mg-team-members">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Our Experts</p>
            <h2 class="flat-title">Let's meet with our<br> team members</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/01.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-basketball"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Dong Yuhan</a></h3>
                        <p class="role">DESIGNER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/02.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-wordpress"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Quan Zheng</a></h3>
                        <p class="role">DEVELOPER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/03.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-basketball"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Peng Qigang</a></h3>
                        <p class="role">FOUNDER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-members border-corner hv-background-before">
                    <div class="featured-post">
                        <div class="entry-image">
                            <a href="#"><img src="images/team-member/04.jpg" alt="images"></a>
                            <div class="icon-work"><span class="icon-wordpress"></span></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <h3 class="name"><a href="#">Dong Yuhan</a></h3>
                        <p class="role">QC. MANAGER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- flat-team-members -->
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Are you ready for a better,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">Stop wasting time & money on technology.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="#" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->
<div class="testimonial testimonial-style3">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Testimonial</p>
            <h2 class="flat-title">What do people praise<br> about <span class="cl-title">Softo?</span></h2>
        </div>
        <div class="custom-nav-testimonial">
            <div class="banners-z">
                <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="30" data-column="2" data-column2="1" data-column3="1" data-column4="1" data-column5="1" data-dots="false" data-auto="true" data-nav="true" data-loop="true">
                    <div class="owl-carousel">
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/01.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Kang Qiang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/02.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Tan Ruogang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/01.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Kang Qiang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- testimonial -->
<div class="partners partners-style2">
    <div class="container">
        <div class="banners-z">
            <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                <div class="owl-carousel">
                    <img src="images/partners/01.png" alt="images">
                    <img src="images/partners/02.png" alt="images">
                    <img src="images/partners/03.png" alt="images">
                    <img src="images/partners/04.png" alt="images">
                    <img src="images/partners/05.png" alt="images">
                    <img src="images/partners/06.png" alt="images">
                </div>
            </div>
        </div>
    </div>
</div><!-- partners -->