@page

<div class="page-title parallax contactus position-relative clearfix" >
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
              
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="contact flat-row-half">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="get-in-touch get-in-touch-type1">
                    <div class="text-contact">Connect with Us, <a href="#">Transform Your Vision into Reality.</a></div>
                    <div class="info-contact">
                        <p>+91 9149568838</p>
                        <p>+91 9796161514</p>
                        <p><a href="mailto:support@ByteNovators.com" style="color: #0c681d;">support@ByteNovators.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 form-leave-comment form-submit">
                    <div class="text-wrap d-md-flex clearfix">
                        <div class="w-left position-relative">
                        <input type="text" name="firstname" id="firstname" value="" class="firstname fbname" placeholder="Name*">
                            <span class="icon-user"></span>
                        </div>
                        <div class="w-right position-relative">
                        <input type="text" name="email" id="email" value="" class="email fbemail" placeholder="Email">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="message-wrap mg-b50">
                    <textarea name="message" id="comment-message" rows="8" placeholder="Message here" required="required" class="fbmessage"></textarea>
                    </div>
                    <div class="flat-send-message btn-linear hv-linear-gradient text-center">
                    <button name="submit" type="submit" class="submit font-style linear-color border-corner fb_submit" id="submit" style="z-index:20">send message now</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="flat-map-type1 pb-5 mb-5" style="position: relative !important;
    z-index: 10;">
    <div class="container">
        <div class="flat-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26432.831855289765!2d74.75776410257784!3d34.09247658104502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e185e15a423aef%3A0xa4c0d81ba85c0e31!2sByte%20Novators!5e0!3m2!1sen!2sin!4v1709628389114!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>