@page
<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">FAQs</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="/">Home</a></li>
                    <li><a href="javascript:void(0);">FAQ's'</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="faq flat-row">
    <div class="container">
        <div class="wrap-faq">
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">What can you help me with?</h3>
                    <p>
                        With whatever we can. Preparing cost analysis, establishing team roles, creating roadmaps. Defining business goals, key business values, target users, main features, prioritising. We can find you similar projects that are already active on the market to benchmark against. We can assist you with creating user personas, mock-ups, user stories, time frame, establishing project status and preparing project estimation. We'll be happy to outline project specification, prepare wireframes, details concerning integrations with external services, API documentation, required features list.
                    </p>
                    <p>
                        In terms of project development we prepare server-side architecture, front end, back end, graphic and UX design, and create back-office consoles.
                    </p>
                    <p>
                        We are also happy to advise our customers in terms of budgeting, scheduling, risk management, and business model creation.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How do I create a product with you?</h3>
                    <p>
                        If you have an idea contact us by our online form , e-mail or phone . We'll meet and talk it over. Just be sure to prepare as much info about your idea as possible, it will smoothen the meeting and benefit further cooperation.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">What do I need to know before contacting you?</h3>
                    <p>
                        Well, the most important thing to know is what do you want to accomplish. Why do I need this Product? What for? What should it do? Having a clear vision in mind is crucial when ordering a Product/Service. You don't want to spend many months developing it with us without being sure what you need. We'll also be glad to help you get started, building projects from scratch is nothing new for us.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Do I need to be tech-savvy to cooperate with you and order a product?</h3>
                    <p>
                        You certainly do not have to be an expert, that's what we're here for :) We welcome your experience in that matter if you happen to have any, but are prepared to guide you through the whole process and explain everything. Focus on your needs and we'll deliver what you require.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How much time will it take for you to make my app?</h3>
                    <p>
                        To give you a precise answer we must prepare a project scope and create a budget. We shall tell you how much of that scope can be completed within the budget and we'll be able to estimate how long will it take after at least a month of work.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How do you guarantee product quality?</h3>
                    <p>
                        We evaluate the result after every two weeks, we test our work (we conduct both development and acceptance tests), we present it to you, we apply your feedback so you know you get what you are paying for.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How can I be sure you work at my project as much as you declare?</h3>
                    <p>
                        We thoroughly monitor our developers and control how much time they spend on each task down to the exact minute.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">I want to be involved in the app development process, do you have a problem with that?</h3>
                    <p>
                        Not at all! We want you to be sure you'll receive the product you desire. From the planning stage to each finished version, we invite you to evaluate and improve our work. Our philosophy is to work with the client, not merely finish given tasks. We are always ready to listen and communicate.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Why should I choose you and not hire my own development team?</h3>
                    <p>
                        Hiring your own developers can be a really smart choice, however, recruitment process is time-consuming and the costs of keeping an in-house programming team are very high. You'll probably need to employ your own  software engineers sooner or later but hiring us can help you save a lot of money and time

                    </p>
                </div>
            </div>
              <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Can the software be upgraded in the future as new technology becomes available?</h3>
                    <p>

                        Of course! We are always happy to improve, upgrade and further develop our work.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">What if I come to you with a product that I want to improve?</h3>
                    <p>
                        We’ll be more than happy to help you with that.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Will a project manager be assigned to me as a contact person? Will this contact person be available throughout the time the software is being developed?</h3>
                    <p>
                        Yes. All our customers are assigned a liaison that serves as their guide and information source throughout our whole cooperation.

                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How much do you charge?</h3>
                    <p>
                        It depends on many things: project scope, time spent on the project and technological issues. We know it sounds vague but its simply honest. Remember that each software project is different, especially if you had a particularly original idea. We do not want to give you an unrealistic estimate, instead we want to provide you with the best quality possible within your budget.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">What is your experience?</h3>
                    <p>
                        We have more than 6 years of business experience. We've worked with and completed projects for leading retailers, international food and drink companies, start-ups, NGO's, travel companies, fashion companies, and many more.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Do you have any testimonials from satisfied customers?</h3>
                    <p>
                        Absolutely! Take a look at what our clients have to share about our cooperation . <a href="https://www.google.com/search?client=firefox-b-d&q=byte+novatoes+#lrd=0x38e185e15a423aef:0xa4c0d81ba85c0e31,1,,,,">TESTIMONIAL</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- faq -->
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Crafting Connections, Digitally Delivered,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">How can we help streamline your business operations?.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="/Contact-Us" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->