@page
<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">FAQ</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="faq.html">Pages</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="faq flat-row">
    <div class="container">
        <div class="wrap-faq">
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How can we help your business?</h3>
                    <p>
                        Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again what network is solution to address what ails your business.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How can I change my shipping address?</h3>
                    <p>
                        Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again what network is solution to address what ails your business.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How many free samples can i redeem?</h3>
                    <p>
                        Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again what network is solution to address what ails your business.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">How can we help your business?</h3>
                    <p>
                        Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again what network is solution to address what ails your business.
                    </p>
                </div>
            </div>
            <div class="flat-question hv-background-before">
                <div class="expand-button"><span class="fa fa-angle-down" aria-hidden="true"></span></div>
                <div class="content-question">
                    <h3 class="title">Why must i make payment immediately at checkout?</h3>
                    <p>
                        Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again what network is solution to address what ails your business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- faq -->
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Are you ready for a better,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">Stop wasting time & money on technology.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="#" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->