@page



<div class="flat-slider clearfix">
    <div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="rev-slider1" class="rev_slider fullwidthabanner">
            <ul>
                <!-- Slide 1 -->
                <li data-transition="random">
                    <!-- Main Image -->
                    <img src="~/images/Slider/01.jpg" alt="" data-bgposition="center center" data-no-retina>
                    <div class="overlay"></div>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white text-one"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-162','-175','-160','-190']"
                         data-fontsize="['55','55','35','26']"
                         data-lineheight="['82','82','50','38']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Crafting  solutions
                    </div>

                    <div class="tp-caption tp-resizeme text-white text-two"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-38','-40','-60','-80']"
                         data-fontsize="['70','70','55','42']"
                         data-lineheight="['82','82','70','54']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        To meet your requirements <br> And propel your business.
                    </div>

                    <div class="tp-caption tp-resizeme text-white btn-three"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['83','80','40','40']"
                         data-fontsize="['19','19','17','16']"
                         data-lineheight="['30','30','28','28']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Let us empower your digital journey every Byte.
                    </div>

                    <div class="tp-caption btn-text btn-linear hv-linear-gradient"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['155','160','120','130']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2800"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="all-solution font-style linear-color border-corner">Find A Solution<span class="icon-arrow-pointing-to-right"></span></a>
                        <a href="https://youtu.be/88BzYVO_6wY" target="_blank" class="see-video">Prologue</a>
                    </div>
                </li>
                <!-- /End Slide 1 -->
                <!-- Slide 2 -->
                <li data-transition="random">
                    <!-- Main Image -->
                    <img src="~/images/Slider/04.jpg" alt="" data-bgposition="center center" data-no-retina>
                    <div class="overlay"></div>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white text-one"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-162','-175','-160','-190']"
                         data-fontsize="['55','55','35','26']"
                         data-lineheight="['82','82','50','38']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Redefining innovation,
                    </div>

                    <div class="tp-caption tp-resizeme text-white text-two"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-38','-40','-60','-80']"
                         data-fontsize="['70','70','55','42']"
                         data-lineheight="['82','82','70','54']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Excellence, and uniqueness <br>  In cutting-edge IT solutions.
                    </div>

                    <div class="tp-caption tp-resizeme text-white btn-three"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['83','80','40','40']"
                         data-fontsize="['19','19','17','16']"
                         data-lineheight="['30','30','28','28']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        Let us empower your digital journey every Byte.
                    </div>

                    <div class="tp-caption btn-text btn-linear hv-linear-gradient"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['155','160','120','130']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="2800"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="all-solution font-style linear-color border-corner">Find A Solution<span class="icon-arrow-pointing-to-right"></span></a>
                        <a href="https://youtu.be/88BzYVO_6wY" target="_blank" class="see-video">Prologue</a>
                    </div>
                </li>
                <!-- /End Slide 2 -->
            </ul>
        </div>
    </div>
</div><!-- flat-slider -->

<section class="features features-style1">
    <div class="container d-lg-flex">
        <div class="iconbox-features hv-background-before wow fadeInLeft" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInLeft;">
            <div class="iconbox-icon"><span class="icon-shield"></span></div>
            <div class="iconbox-content">
                <h3 class="title">Tech Tailors</h3>
                <p>
                    We custom-fit tech solutions to suit your unique needs, ensuring they're as comfortable and easy to use as your favorite pair of jeans.
                </p>
            </div>
        </div>
        <div class="iconbox-features hv-background-before active has-scale wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
            <div class="iconbox-icon"><span class="icon-analysis"></span></div>
            <div class="iconbox-content">
                <h3 class="title">
                    Innovation Architects
                </h3>
                <p>
                    We're like architects, but for cool tech stuff. We design and build cutting-edge solutions that make your business stand out in the digital world.
                </p>
            </div>
        </div>
        <div class="iconbox-features hv-background-before wow fadeInRight" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInRight;">
            <div class="iconbox-icon"><span class="icon-alarm"></span></div>
            <div class="iconbox-content">
                <h3 class="title">Guardians of Growth</h3>
                <p>
                    We're not just techies – we're protectors of your digital empire. We keep your data safe and secure so you can focus on growing your business without worries
                </p>
            </div>
        </div>
    </div>
</section>

<section class="who-we-are who-we-are-style1">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5 col-12">
                <div class="featured-post position-relative">
                    <div class="entry-image">
                        <img src="/favicon.ico" alt="images" class="wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                    </div>
                    <div class="iconbox-award">
                        <span class="icon-trophy"></span>
                        <div class="spinning-circle"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50" style="height:0px"></div>
                <div class="content">
                    <blockquote>
                        Coding Your Vision, Crafting Your Success – Let's Build Your Digital Future Together!
                    </blockquote>
                    <div class="title d-lg-flex align-items-center">
                        Over<span> 6 </span>years experience
                    </div>
                    <p>
                        We are more than just developers – we're innovators, creators, and problem solvers. With our expertise in software, and website development, we turn your concepts into cutting-edge solutions that drive results.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fact-type4 equalize sm-equalize-auto d-lg-flex">
    <div class="col-left position-relative" style="height: 620px;">
        <div class="themesflat-content-box" data-padding="82px 50px 78px 39%" data-sdesktoppadding="82px 50px 78px 15px" data-ssdesktoppadding="82px 50px 78px 15px" data-mobipadding="100px 15px 100px 15px" data-smobipadding="100px 15px 100px 15px" style="padding:82px 50px 78px 15px">
            <div class="section-overlay"></div>
            <div class="position-relative">
                <div class="iconbox-fact">
                    <div class="iconbox-icon"><span class="icon-network"></span></div>
                    <div class="iconbox-content">
                        <h3 class="title">
                            <a href="javascript:void(0);">
                                Connecting Ideas, Transforming Realities.
                            </a>
                        </h3>
                        <p>
                            Byte Novators connects ideas and transforms them into tangible realities, driving innovation and progress across industries.
                        </p>
                    </div>
                </div>
                <div class="iconbox-fact">
                    <div class="iconbox-icon"><span class="icon-analysis"></span></div>
                    <div class="iconbox-content">
                        <h3 class="title">
                            <a href="javascript:void(0);">
                                Your Gateway to Digital Excellence.
                            </a>
                        </h3>
                        <p>
                            Byte Novators serves as the gateway to digital excellence, offering tailored solutions that propel businesses towards success in the digital realm.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-right" style="height: 620px;">
        <div class="themesflat-content-box" data-padding="124px 21% 0 97px" data-sdesktoppadding="100px 15px 0 15px" data-ssdesktoppadding="100px 15px 0 15px" data-mobipadding="100px 15px 40px 15px" data-smobipadding="100px 15px 40px 15px" style="padding:100px 15px 0 15px">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="counter counter-type4">
                        <div class="content-counter">
                            <div class="icon-count"><span class="icon-team"></span></div>
                            <div class="numb-count-wrap">
                                <span class="numb-count" data-from="0" data-to="250" data-speed="2000" data-inviewport="yes">250 +</span>
                            </div>
                            <div class="name-count">Happy Clients</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="counter counter-type4">
                        <div class="content-counter">
                            <div class="icon-count"><span class="icon-portfolio"></span></div>
                            <div class="numb-count-wrap">
                                <span class="numb-count" data-from="0" data-to="80" data-speed="2000" data-inviewport="yes">80 +</span>
                            </div>
                            <div class="name-count">Finished Project</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="counter counter-type4">
                        <div class="content-counter">
                            <div class="icon-count"><span class="icon-observation"></span></div>
                            <div class="numb-count-wrap">
                                <span class="numb-count" data-from="0" data-to="30" data-speed="2000" data-inviewport="yes">30</span>
                            </div>
                            <div class="name-count">Skilled Experts</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="counter counter-type4">
                        <div class="content-counter">
                            <div class="icon-count"><span class="icon-spam"></span></div>
                            <div class="numb-count-wrap">
                                <span class="numb-count" data-from="0" data-to="500" data-speed="2000" data-inviewport="yes">500</span>
                            </div>
                            <div class="name-count">Media Posts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="flat-it-services flat-it-services-style3">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Services</p>
            <h2 class="flat-title">Transforming Visions into Digital Realities: Elevating Your Business with Innovative IT Services.</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/App-Development.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-function-setting"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">App Development</a></h3>
                        <p>Crafting innovative mobile and web applications tailored to your needs. Let us bring your ideas to life with our expert app development service</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/Website-Development.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-wordpress"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">Website Development</a></h3>
                        <p>Elevate your online presence. We create sleek, user-friendly websites that captivate audiences and drive results.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="1200ms" style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/Software-Developement.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-analytics"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">Software Development</a></h3>
                        <p>Transforming visions into digital reality. We crafts bespoke solutions tailored to your needs.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/E-commerce.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-analysis"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">E-commerce</a></h3>
                        <p>we specialize in crafting tailored e-commerce solutions to elevate your online business.</p>
                     
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/Graphical-Designing.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-portfolio"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">UI/UX Designing</a></h3>
                        <p>we craft intuitive interfaces that engage and delight users. Let's elevate your digital presence together.</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/Email-Services.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-function-setting"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">Email Services</a></h3>
                        <p>Our email services cater to the diverse needs of modern businesses, offering seamless communication solutions tailored to enhance productivity and efficiency.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="1200ms" style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/SEO.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-process"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">SEO</a></h3>
                        <p>Our expert team utilizes cutting-edge strategies to optimize your website's performance on search engines, ensuring higher rankings and increased exposure.</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="service-image-box border-corner">
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="~/images/services/IT-Management.jpg" style="width: 100%; height: 170px;" alt="images">
                            <div class="icon-service"><span class="icon-team"></span></div>
                            <div class="spinning-circle"></div>
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);">IT Management</a></h3>
                        <p>We provide holistic support to optimize your technology infrastructure, ensuring seamless functionality and maximum efficiency</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="get-in-touch-type3 get-in-touch-style1 parallax HomeContact position-relative" style="background-position: 50% -77px;">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="contact-address">
                    <div class="flat-spacer" data-desktop="112" data-sdesktop="112" data-mobi="0" data-smobi="0" style="height:112px"></div>
                    <span class="icon-support"></span>
                    <ul class="contact-details">
                        <li>+91 914 956 8838</li>
                        <li><a href="mailto:bytenovators.com" >info@ByteNovators.com</a></li>
                    </ul>
                    <div class="text">
                        Unlocking Possibilities, Drop Your Queries, We'll Handle the Rest!
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div  class="form-git2 form-submit">
                    <h3 class="title text-center">Connect with Us, Transform Your Vision into Reality.</h3>
                    <div class="text-wrap">
                        <div class="has-icon position-relative">
                            <input type="text" name="firstname" id="firstname" value="" class="firstname fbname" placeholder="Name here">
                            <span class="icon-user"></span>
                        </div>
                        <div class="has-icon position-relative">
                            <input type="text" name="email" id="email" value="" class="email fbemail" placeholder="Email here">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </div>
                        <textarea name="message" id="comment-message" rows="8" placeholder="Message here" class="fbmessage" required="required"></textarea>
                    </div>
                    <div class="flat-send-message btn-linear hv-linear-gradient">
                        <button name="submit" type="submit" class="submit font-style linear-color border-corner fb_submit" id="submit">send message now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="partners partners-style2" id="Partners">
    <div class="container">
        <div class="banners-z">
            <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                <div class="owl-carousel">
                    <img src="~/images/partners/4.jpg" alt="Vensena Pharmaceuticals" title="Vensena Pharmaceuticals">
                    <img src="~/images/partners/2.png" alt="Infopark Computer Education" title="Infopark Computer Education">
                    <img src="~/images/partners/6.png" alt="Honor Tour And Travels" title="Honor Tour And Travels">
                    <img src="~/images/partners/1.png" style="width:40%" alt="Trek De Kashmir" title="Trek De Kashmir">
                    <img src="~/images/partners/5.png" style="width: 45%;" alt="Batloo Travel" title="Batloo Travels">
                    <img src="~/images/partners/3.jpg" alt="Smart Classes Home Tutions" title="Smart Classes Home Tutions">
                </div>
            </div>
        </div>
    </div>
</div>
