@page
<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">IT services</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="it-services.html">Services</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="flat-it-services flat-it-services-style4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">01.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/09.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">IT helpdesk support</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">02.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/10.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Managed IT</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">03.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/11.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Cyber security</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">04.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/12.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Business Reform</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">05.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/13.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Hosting & cloud</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">06.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/14.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Infrastructure Plan</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">07.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/15.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">UI/UX Design</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">08.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/16.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Apps Development</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">09.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/17.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="#">Desktop Computing</a></h3>
                        <div class="link-arrow"><a href="#"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- flat-it-services -->
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Are you ready for a better,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">Stop wasting time & money on technology.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="#" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->
<div class="testimonial testimonial-style4">
    <div class="container">
        <div class="title-section text-center">
            <p class="sub-title">Testimonial</p>
            <h2 class="flat-title">What do people praise<br> about <span class="cl-title">Softo?</span></h2>
        </div>
        <div class="custom-nav-testimonial">
            <div class="banners-z">
                <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="30" data-column="2" data-column2="1" data-column3="1" data-column4="1" data-column5="1" data-dots="false" data-auto="true" data-nav="true" data-loop="true">
                    <div class="owl-carousel">
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/01.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Kang Qiang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/02.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Tan Ruogang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box-type2">
                            <div class="endorser d-sm-flex align-items-center">
                                <div class="avatar"><img src="images/testimonial/01.jpg" alt="images"></div>
                                <div class="info">
                                    <h3 class="name">Kang Qiang</h3>
                                    <p class="role">Marketing Officer</p>
                                    <div class="star-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-spacer" data-desktop="199" data-sdesktop="20" data-mobi="20" data-smobi="20"></div>
                            <div class="content-testimonial">
                                <div class="text-bold">Ut enim minim veniam quis nostrud exercitation ullam commodo consequat sint sunt in culpa.</div>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco commodo consequat is aute irure in reprehenderit voluptat proident, sunt in culpa qui officia deserunt Ut enim minim irure in reprehenderit voluptat.
                                </p>
                                <div class="socials-list bg-linear-gradient text-center">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- testimonial -->
<div class="partners partners-style2">
    <div class="container">
        <div class="banners-z">
            <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                <div class="owl-carousel">
                    <img src="images/partners/01.png" alt="images">
                    <img src="images/partners/02.png" alt="images">
                    <img src="images/partners/03.png" alt="images">
                    <img src="images/partners/04.png" alt="images">
                    <img src="images/partners/05.png" alt="images">
                    <img src="images/partners/06.png" alt="images">
                </div>
            </div>
        </div>
    </div>
</div><!-- partners -->