@page

<div class="page-title parallax Service position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                
            </div>
        </div>
    </div>
</div>

<div class="flat-it-services flat-it-services-style4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">01.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Software-Developement.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Software development</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">02.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Website-Development.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Website development</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">03.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/App-Development.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Apps Development</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">04.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/ERP.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">ERP system</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">05.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/SEO.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">SEO</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">06.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Digital-marketing.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Digital Marketing</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">07.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Email-Services.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Email services</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">08.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Bulk-SMS.png" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Bulk SMS</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">09.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Hosting-and-clouding.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Hosting and Clouding</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" "><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">10.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/E-commerce.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">E-commerce sites</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">11.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Graphical-Designing.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">UI/UX Design</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">12.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Techinical-Support.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Technical Support</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">13.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/IT-Management.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">IT Management</a></h3>
                        <div class="link-arrow"><a href ="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">14.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Social-Media-Handeling.png" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Social Media handling</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">15.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/Digital-Security and-solutions.jpg" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Security and digital solutions</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-image-box2 hv-background-before">
                    <div class="order-number">16.</div>
                    <div class="featured-post">
                        <div class="entry-image">
                            <img src="images/services/paymentgateway.png" alt="images">
                        </div>
                    </div>
                    <div class="content-service">
                        <h3 class="title"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom">Payment Gateway</a></h3>
                        <div class="link-arrow"><a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom"><span class="icon-arrow-pointing-to-right"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners partners-style2">
    <div class="container">
        <div class="banners-z">
            <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                <div class="owl-carousel">
                    <img src="~/images/partners/4.jpg" alt="Vensena Pharmaceuticals" title="Vensena Pharmaceuticals">
                    <img src="~/images/partners/2.png" alt="Infopark Computer Education" title="Infopark Computer Education">
                    <img src="~/images/partners/6.png" alt="Honor Tour And Travels" title="Honor Tour And Travels">
                    <img src="~/images/partners/1.png" style="width:40%" alt="Trek De Kashmir" title="Trek De Kashmir">
                    <img src="~/images/partners/5.png" style="width: 45%;" alt="Batloo Travel" title="Batloo Travels">
                    <img src="~/images/partners/3.jpg" alt="Smart Classes Home Tutions" title="Smart Classes Home Tutions">
                </div>
            </div>
        </div>
    </div>
</div>