@page
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="page-title parallax TermsOfServices position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
               
            </div>
        </div>
    </div>
</div><!-- page-title -->


<section class="mb-5">


    <div class="container-fluid offset-1">
        <div class="row terms-and-conditions-section">
          

            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="content">

                    <h2 class="section-title text-muted">Terms of Service</h2>
                    <h4 class="section-title text-muted">Last Updated: March 1 , 2024</h4>
                    <p >
                            Thank you for visiting Byte Novators. Together with the Privacy Policy, these Terms of Service are a contractual Agreement between Byte Novators and our Clients, so please read them carefully before accessing or using any of our product. In consideration of the mutual promises contained in this Agreement, you and Byte Novators agree as follows:
                     
                    </p>
                    <h2 class="section-title text-muted">1. Description</h2>
                    <p class="offset-1">
                        Byte Novators mission: we're innovators, creators, and problem solvers. With our expertise in software, and website development and more, we turn your concepts into cutting-edge solutions that drive results. To transform software development by analysing data across the stack to quantify the craft of development.
                    </p>

                    <h2 class="section-title text-muted">2. Account Terms</h2>

                    <ul class="offset-1" >
                        <li>
                            <h2 class="section-title text-muted">2.1 Access to Services</h2>
                            <p class="offset-1">
                                Byte Novators distributes the Service online. You are solely responsible for providing, installing, and maintaining at your own expense all equipment, facilities, and services necessary to enable Authorized Users' access and use of the Service through the interface, including, without limitation all computer hardware, software, and Internet access.
                            </p>

                        </li>
                        <li>
                            <h2 class="section-title text-muted">2.2 User Account Security</h2>
                            <p class="offset-1">
                                You are solely responsible for tracking and for ensuring the security and confidentiality of all user identifiers and passwords. Byte Novators has no liability with respect to any use or misuse of such identifiers or passwords, and any use other than as provided in this Agreement will be considered a breach of this Agreement by you
                            </p>

                        </li>
                    </ul>

                    <h2 class="section-title text-muted">3. Acceptable Use</h2>
                    <ul class="offset-2">
                        <li>
                            <h2 class="section-title text-muted">3.1 Compliance with Laws and Regulations</h2>
                            <p class="offset-1">
                                You will use commercially reasonable efforts to ensure, through proper instructions and enforcement actions, that all access to and use of the Service by you or Authorized Users, or otherwise through your facilities, equipment, identifiers, or passwords, will conform to this Agreement and will be made and used solely for proper and legal purposes, and will be conducted in a manner that does not violate any law or regulation, the rights of any third party, or this Agreement.
                            </p>

                        </li>
                    </ul>

                    <h2 class="section-title text-muted">4. Service Period</h2>
                    <p class="offset-1">
                        This subscription will commence on the subscription date and, unless terminated early in accordance with Section 7, continue for the number of months or year(s) specified in the Subscription as measured from the Subscription Date (the "Initial Period").
                    </p>
                    <p class="offset-1">
                        If you are using a Paying Plan, the agreement will automatically renew for successive renewal periods of the same duration of the Initial Period (each, a "Renewal Period") unless one party gives notice of termination or non-renewal. The Initial Period and all subsequent Renewal Periods are collectively the "Service Period."
                    </p>

                    <h2 class="section-title text-muted">5. Payment</h2>
                    <p class="offset-1">
                        <strong> Pricing:</strong> Unless the parties agree otherwise in a separately executed written agreement for a Paying Plan, all fees including taxes for the Service will be initially based on the pricing published at the Website as of the Subscription Date for the Initial Period.
                    </p>
                    <p class="offset-1">
                        <strong> Authorization for payment:</strong> You agree to give Byte Novators permission to charge you using that payment method for any services used during the Service Period. As indicated in a Subscription, Byte Novators may bill: in advance.
                    </p> 
                    <p class="offset-1">
                        <strong> Responsibility for payment:</strong>  You agree that you are authorized to use the payment method you entered when creating a billing account. You must keep all information in your billing account current. You can access and modify your billing account information through the WhatsApp. If you notify Byte Novators to stop using your previously designated payment method and fail to designate an alternative, Byte Novators may immediately suspend use and access to the Service.
                    </p>
                    <p class="offset-1">
                        <strong> Billing schedule:</strong> no refunds: Payments for all accounts registered to pay via credit card are due the date the invoice is posted. Payments for all accounts registered to pay via check, wire transfer are due within 30 days of the invoice date unless otherwise agreed-to by the parties in writing. If any payment is not made when due, Byte Novators may immediately suspend use and access to the Service. All prepayments, if any, for the Service (monthly, yearly, or otherwise) will be deemed fully earned upon payment and are non-refundable.
                    </p>

                    <h2 class="section-title text-muted">6. Cancellation and Termination</h2>
                    <ul class="offset-1">
                        <li>
                            <h2 class="section-title text-muted">6.1. Account Cancellation</h2>
                            <p class="offset-1">
                                It is your responsibility to properly cancel your account with Byte Novators. You can cancel your account at any time by contacting our support desk.
                            </p>

                        </li>
                         <li>
                            <h2 class="section-title text-muted">6.2. Upon Cancellation</h2>
                            <p class="offset-1">
                                You agree return to Byte Novators any and all Confidential Information of Byte Novators in your possession or control. Byte Novators will have no obligation to provide the Service to you or Authorized Users after the effective date of the termination. You will pay to Byte Novators any amounts payable for your and Authorized User's use of the Service through the effective date of the termination, together with all other amount
                            </p>

                        </li> 
                        <li>
                            <h2 class="section-title text-muted">6.3. Byte Novators May Terminate</h2>
                            <p class="offset-1">
                                Byte Novators may terminate this Agreement immediately upon notice to you if you breach any provisions in the Agreement, in order to comply with applicable laws or regulations, or if you default in the timely payment of any amounts due Software under a Paying Plan.
                            </p>

                        </li>

                    </ul>

                    <h2 class="section-title text-muted">7. Service Commitment and Support</h2>
                    <p class="offset-1">
                        If you are under a Paying Plan, Byte Novators will provide in-product and email support ("Support"). Although no response times are guaranteed, Byte Novators will use commercially reasonable efforts to respond to such support requests within 48 hours. Byte Novators may delegate the performance of certain portions of the Support to third parties, but will remain responsible to you for delivery. In the event any Support is not performed with reasonable skill, care, and diligence, Byte Novators will re-perform the Support to the extent necessary to correct the defective performance, and you acknowledge that re-performance will be your sole and exclusive remedy for any defective performance.
                    </p>

                    <p class="offset-1">You acknowledge that your and each Authorized User's access and use of the Service are subject to Byte Novators Privacy Policy which is incorporated into this Agreement by reference. Byte Novators may delegate the performance of certain portions of the Service to third parties, but will remain responsible to you for delivery. </p>

                    <h2 class="section-title text-muted">8. Limitations of Liability</h2>
                    <p class="offset-1">
                        You understand and agree that we will not be liable to you or any third party for any damage, injury, or loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential, or exemplary damages, however arising, that result from:
                    </p>
                    <ul class="offset-2" style="list-style-type: circle; ">
                        <li>The use, disclosure, or display of your Customer Data. </li>
                        <li>Your use or inability to use the Service.</li>
                        <li>Any modification, price change, suspension, interruption, cessation of transmission, or discontinuance of the Service. </li>
                        <li>The Service generally or the software or systems that make the Service available.</li>
                        <li>Unauthorized access to or alterations of your transmissions or data.</li>
                        <li>Statements or conduct of any third party on the Service.</li>
                        <li>Any other user interactions that you input or receive through your use of the Service.</li>
                        <li>Hacking, tampering, or other unauthorized access or use of the Service or your account(s) or the information contained therein. </li>
                        <li>Errors, mistakes, or inaccuracies of data. </li>
                        <li>Personal injury or property damage, of any nature whatsoever, resulting from your and authorized users' access to and use of the Service or support.</li>
                        <li>Any other matter relating to the Service.</li>
                    </ul>
                    <p class="offset-1">
                        Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy described in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.
                    </p>
                    <p class="offset-1">
                        These limitations will not apply to damages arising out of a party's failure to comply with its confidentiality obligations, indemnification obligations, or payment obligations to Byte Novators
                    </p>

                    <h2 class="section-title text-muted">9. Obligations of Parties</h2>
                    <p class="offset-1">
                        The parties expressly understand and agree that their relationship is that of independent contractors. Nothing in this Agreement will constitute one party as an employee, agent, joint venture partner, or servant of another.
                    </p>
                    <p class="offset-1">
                        Byte Novators will have no liability to you, Authorized Users, or third parties for any failure or delay in performing any obligation under this Agreement due to circumstances beyond its reasonable control, including without limitation acts of God or nature, fires, floods, strikes, civil disturbances or terrorism, or interruptions in power, communications, satellites, the Internet, or any other network that are beyond its reasonable control.
                    </p>

                    <h2 class="section-title">10. Communications</h2>
                    <p class="offset-1">
                        Byte Novators may send you, in electronic form, information about the Service, additional information, and any information the law requires Byte Novators to provide. You acknowledge and agree that Byte Novators may provide notices to you by email at the address you specified in its Subscription or by access to a website that Byte Novators identifies. Notices emailed to you will be deemed given and received when the email is sent. If you do not consent to receiving notices electronically, you and your Authorized Users must stop using the Service. You may provide legal notices to Byte Novators by email to info@bytenovators.com. You must specify in all such notices that the notice is being given under this Agreement.
                    </p>
                    <h2 class="section-title">11. Complete Agreement</h2>
                    <p class="offset-1">
                        These Terms of Service, together with the Privacy Policy, represent the complete and exclusive statement of the Agreement between you and Software. This Agreement supersedes any proposal or prior agreements, oral or written, and any other communications between you and Byte Novators relating to the subject matter of these terms.
                    </p>
                    <h2 class="section-title">Contact Us</h2>
                    <p class="offset-1">
                        If you have any questions or concerns about these Terms of Service, please email us at <a href="mailto:support@bytenovators.com.">support@bytenovators.com.</a>
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>

