@page


<div class="page-title parallax parallax1 position-relative clearfix">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="breadcrumbs position-relative">
            <div class="breadcrumbs-wrap">
                <h1 class="title">Hosting And Clouding</h1>
                <ul class="breadcrumbs-inner">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Services">Services</a></li>
                    <li><a href="javascript:void(0);">Hosting And Clouding</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- page-title -->
<div class="flat-it-services-banking flat-it-services-style5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="image-about"><img src="~/images/services/18.jpg" alt="images"></div>
                <div class="image-box d-lg-flex">
                    <div class="image-left"><img src="~/images/services/19.jpg" alt="images"></div>
                    <div class="image-right"><img src="~/images/services/20.jpg" alt="images"></div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="flat-spacer" data-desktop="0" data-sdesktop="0" data-mobi="50" data-smobi="50"></div>
                <div class="text-content">
                    <div class="it-services-banking">
                        <h3 class="title title-big">Expert IT services for the <span class="cl-title">banking Industry</span></h3>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullam commodo consequat. Duis aute irure dolor in reprehender in voluptate velit ess cillum pariatur.
                        </p>
                    </div>
                    <div class="it-services-banking">
                        <h3 class="title">Retail banking</h3>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullam commodo consequat. Duis aute irure dolor in reprehender in voluptate velit ess cillum pariatur.
                        </p>
                    </div>
                    <div class="it-services-banking">
                        <h3 class="title">Investment banking</h3>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullam commodo consequat. Duis aute irure dolor in reprehender in voluptate velit ess cillum pariatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features d-lg-flex features-style3">
            <div class="iconbox-features hv-background-before">
                <div class="iconbox-icon"><span class="icon-shield"></span></div>
                <div class="iconbox-content">
                    <h3 class="title">Protect Business</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="discover-more">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="iconbox-features hv-background-before active">
                <div class="iconbox-icon"><span class="icon-optimization"></span></div>
                <div class="iconbox-content">
                    <h3 class="title">Optimize IT systems</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="discover-more">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="iconbox-features hv-background-before">
                <div class="iconbox-icon"><span class="icon-alarm"></span></div>
                <div class="iconbox-content">
                    <h3 class="title">Digital Enablement</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="discover-more">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="iconbox-banking">
                    <div class="iconbox-icon"><span class="icon-shield"></span></div>
                    <div class="iconbox-content">
                        <h4 class="title"><a href="#">Cards and payments</a></h4>
                        <p>
                            Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="iconbox-banking">
                    <div class="iconbox-icon"><span class="icon-network"></span></div>
                    <div class="iconbox-content">
                        <h4 class="title"><a href="#">Corporate Banking</a></h4>
                        <p>
                            Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="iconbox-banking">
                    <div class="iconbox-icon"><span class="icon-analysis"></span></div>
                    <div class="iconbox-content">
                        <h4 class="title"><a href="#">Security and compliance</a></h4>
                        <p>
                            Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="iconbox-banking">
                    <div class="iconbox-icon"><span class="icon-analytics"></span></div>
                    <div class="iconbox-content">
                        <h4 class="title"><a href="#">Risk and compliance</a></h4>
                        <p>
                            Deploying a NanoSoft computer network solution to address what network is solution to address what ails your business technology can get you back ails help you grow your business again.
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- iconbox-banking -->
    </div>
</div>
<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-12">
                <div class="cta-content position-relative">
                    <div class="caption">Empowering Innovation, Transforming Businesses,</div>
                    <div class="flat-spacer" data-desktop="10" data-sdesktop="10" data-mobi="10" data-smobi="10"></div>
                    <h2 class="title">Send Your Queries, Let's Make Solutions Happen.</h2>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="flat-contact-now">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="border-corner">Contact Now<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- cta -->