<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]   ByteNovators</title>

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/stylesheet/bootstrap.css">

    <!-- Template Style-->
    <link rel="stylesheet" href="~/stylesheet/font-awesome.css">
    <link rel="stylesheet" href="~/stylesheet/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/stylesheet/owl.carousel.min.css">
    <link rel="stylesheet" href="~/stylesheet/animate.css">
    <link rel="stylesheet" href="~/stylesheet/icomoon.css">
    <link rel="stylesheet" href="~/stylesheet/jquery-fancybox.css">
    <link rel="stylesheet" href="~/stylesheet/style.css">
    <link rel="stylesheet" href="~/stylesheet/shortcodes.css">
    <link rel="stylesheet" href="~/stylesheet/responsive.css">
    <link rel="stylesheet" href="~/stylesheet/flexslider.css">
    <link rel="stylesheet" href="~/rev-slider/css/layers.css">
    <link rel="stylesheet" href="~/rev-slider/css/navigation.css">
    <link rel="stylesheet" href="~/rev-slider/css/settings.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

 </head>
<body class="counter-scroll">

   @*  <div id="loading-overlay">
        <div class="loader"></div>
    </div> *@
    <div class="top-bar top-bar-type2">
        <div class="container">
            <div class="d-lg-flex justify-content-lg-between align-items-center">
                <div id="logo" class="col-2 logo d-flex justify-content-center">
                    <a href="index-2.html" title="Logo"><img src="~/images/logo/1.png" data-width="168" data-height="38" alt="images" data-retina="images/logo/1.png"></a>
                </div>
                <ul class="flat-information flat-information-type2 color-s1">
                    <li class="phone"><a href="telto:+919796161514" title="Phone">+91 979 616 1514</a></li>
                    <li class="email"><a href="mailto:info@ByteNovators.com" title="Email"><span class="__cf_email__">info@ByteNovators.com</span></a></li>
                </ul>
                <div class="flat-appointment btn-linear hv-linear-gradient d-flex justify-content-center">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#enquiryfrom" class="font-style linear-color border-corner">Find Solution<span class="icon-arrow-pointing-to-right"></span></a>
                </div>
            </div>
        </div>
    </div><!-- top-bar -->
    <header id="header" class="header header-type2 bg-header-s2 bg-color">
        <div class="container">
            <div class="flex-header">
                <div class="content-menu content-menu-type2 d-flex align-items-center justify-content-between">
                    <div class="nav-wrap">
                        <div class="btn-menu"><span></span></div>
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/About-Us">About Us</a>
                                </li>

                                <li>
                                    <a href="/Services">Services</a>
                                </li>
                                <li>
                                    <a href="/Contact-Us">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="socials-list">
                        <a href="https://www.instagram.com/bytenovators/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/ByteNovators" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/company/byte-novators" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=9149568838&text&type=phone_number&app_absent=0" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </header>
            @RenderBody()

    <footer id="footer" class="footer footer-bg-2">
        <div class="overlay"></div>
        <div id="footer-widget" class="footer-widget-type2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="widget-text">
                            <div class="logo"><img src="~/images/logo/2.png" alt="images"></div>
                            <p>
                                At Byte Novators, we're more than just developers – we're innovators, creators, and problem solvers. With our expertise in software, and website development, we turn your concepts into cutting-edge solutions that drive results. <a href="/About-Us" class="text-info">Read more...</a>
                            </p>
                            <div class="socials-list">
                                <img src="~/images/home/paymentcards.png" />
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="mg-widget-mobi kcl-widget2">
                            <h3 class="widget widget-title">Quick Links</h3>
                            <div class="widget-services d-sm-flex">

                               
                                <ul class="one-half first">
                                    <li><a href="/About-Us">About Us</a></li>
                                    <li><a href="https://linkedin.com/company/byte-novators" target="_blank">Career</a></li>
                                    <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                                    <li><a href="/Terms-Of-Services">Terms Of Services</a></li>
                                    <li><a href="/FAQs">FAQs</a></li>
                                    <li><a href="/Employee-Login">E-Login</a></li>
                                </ul>

                                <ul class="one-half second">
                                    <li><a href="javascript:void(0);">Advertising</a></li>
                                    <li><a href="javascript:void(0);">Digital Marketing</a></li>
                                    <li><a href="javascript:void(0);">Web Development</a></li>
                                    <li><a href="javascript:void(0);">Bulk SMS Service</a></li>
                                    <li><a href="javascript:void(0);">E-Commerce Sites</a></li>
                                    <li><a href="javascript:void(0);">Project Training</a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="mg-widget-mobi kcl-widget">
                            <div class="widget-contact border-corner">
                                <div class="logo"><img src="~/images/logo/2.png"></div>
                                <div class="info-contact">
                                    <p>+91 9796161514</p>
                                    <p><a href="mailto:info@byteNovators.com" class="__cf_email__" style="color:white">info@byteNovators.com</a></p>
                                    <p>support@byteNovators.com</p>
                                </div>
                                <div class="socials-list">
                                    <a href="https://www.instagram.com/bytenovators/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/ByteNovators" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://linkedin.com/company/byte-novators" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                                    <a href="https://api.whatsapp.com/send/?phone=9149568838&text&type=phone_number&app_absent=0" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="bottom" class="bottom-type2 position-relative">
            <div class="container">
                <div class="bottom-wrap text-center">
                    <div id="copyright">
                        <a href="javascript:void(0);">Copyright © @DateTime.UtcNow.ToString("yyyy") Byte Novators.</a><span class="license"> All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </div>
        <a id="scroll-top" class="show"></a>
    </footer>


    <div class="modal" id="enquiryfrom">
        <div class="modal-dialog" role="document" style="margin-top: 290px">
            <div class="modal-content">
                <div class="modal-body login-box" style="position:absolute !important">

                    <h2>Quick Enquiry</h2>


                    <form>
                        <div class="user-box">
                            <input type="text" name="name" id="quotename" required="">
                            <label>Name</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="mobile" id="quotephone" required="">
                            <label>Mobile</label>
                        </div>
                        <div class="user-box">
                            <input type="email" name="email" id="quoteemail" required="">
                            <label>Email</label>
                        </div>
                        <div class="user-box">
                            <input type="text" name="address" multiple rows="6" id="quoteaddress" required="">
                            <label>Address</label>
                        </div>
                        <a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" id="model_close">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-arrow-left"></i> Close
                        </a>
                        <a href="javascript:void(0);" id="btn_enquiry_quote_Click" style="float:right;">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Submit <i class="fa fa-arrow-up"></i>
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/javascript/jquery.min.js"></script>
    <script src="~/javascript/parallax.js"></script>
    <script src="~/javascript/plugins.js"></script>
    <script src="~/javascript/jquery-ui.js"></script>
    <script src="~/javascript/jquery-isotope.js"></script>
    <script src="~/javascript/owl.carousel.min.js"></script>
    <script src="~/javascript/equalize.min.js"></script>
    <script src="~/javascript/jquery-fancybox.js"></script>
    <script src="~/javascript/jquery-countTo.js"></script>
    <script src="~/javascript/flex-slider.min.js"></script>
    <script src="~/javascript/wow.min.js"></script>
    <script src="~/javascript/jquery-validate.js"></script>
    <script src="~/javascript/main.js"></script>

    <!-- slider -->
    <script src="~/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/javascript/rev-slider.js"></script>
   

    <script>
        $(document).ready(function () {

            $("#btn_enquiry_quote_Click").click(function (e) {
                e.preventDefault();
                var name = SafeString($("#quotename").val());
                var mobile = SafeString($("#quotephone").val());
                var email = SafeString($("#quoteemail").val());
                var address = SafeString($("#quoteaddress").val());

                var _data = '{"Name":"' + name + '","Mobile":"' + mobile + '","Email":"' + email + '","Address":"' + address + '"}';
                SendQuotes(_data, "Quotes")

            });

            $(".fb_submit").click(function (e) {
                e.preventDefault();
                var name = SafeString($(".fbname").val());
                var email = SafeString($(".fbemail").val());
                var message = SafeString($(".fbmessage").val());

                var _data = '{"Name":"' + name + '","Email":"' + email + '","Message":"' + message + '"}';
                SendQuotes(_data, "FeedBack")

            });
        });
        function SendQuotes(_data, pass) {
            $.ajax({
                url: "/Email/" + pass,
                type: "POST",
                data: _data,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response);
                },
                failure: function (response) {
                    alert(response);

                }
            });
        }
        function SafeString(str) {
            return str.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
        }


    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>